<!DOCTYPE html>
<html>
  <head>
    <title>To Do App</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  </head>

  <body class="m-1 p-1">
    <h3 class="bg-primary text-white p-3">To Do App</h3>

    <div class="my-1">
      
      <ul>
        <h4>Añadir Tarea</h4>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Tarea</span>
          </div>
          <input type="text" maxlength="256" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" #description>
        </div>
        <p></p>
        <button type="button" class="btn btn-success" (click)="addTask(description.value)">Añadir Tarea</button>
      </ul>
    </div>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <ul>
        <h4>Filtrar Tareas por Estado</h4>
       
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="getTasks()"> Mostrar Todas
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off" (click)="filterByToDo()"> Pendiente
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off" (click)="filterByDoing()"> En Curso
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off" (click)="filterByDone()"> Completado
        </label>
      </ul> 
    </div>

    <div>
      <ul>
        <h4>Lista de Tareas</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope ="col">Tarea</th>
              <th scope ="col">Estado</th>
              <th scope ="col">Actualizar Estado</th>
              <th scope ="col">Editar</th>
              <th scope ="col">Borrar</th>
              
            </tr>
          </thead>
          <tbody> 
            <tr *ngFor="let task of tasks">
              <td>{{task.taskDescription}}</td>
              <td>{{task.taskState}}</td>
              <td><button type="button" class="btn btn-info" (click)="updateTaskState(task)">Actualizar</button></td>
              <td><button type="button" class="btn btn-warning" (click)="updateTaskDescription(task, description.value)">Editar</button></td>
              <td><button type="button" class="btn btn-danger" (click)="deleteTask(task.id)">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </ul>
    </div>



  </body>
</html>
